    <!DOCTYPE html>
    <html>
    <head>
        <title>My Profile</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    </head>
    <body>

        <div class="profile-container">
            <img src="profile.jpg" alt="Profile Picture" class="profile-picture">
            <h1 class="profile-name">YUSUFF SHERIFF </h1>

            <div class="profile-info">
                <h3><b>ABOUT ME</b></h3>
                <p>Software Engineer</p>
            </div>

            <div class="profile-info">
                <h3>COMPANY</h3>
                <p>Knowledge Lens</p>
            </div>

            <div class="profile-info">
                <h3>LOCATION</h3>

                    Bangalore

            </div>
            <div class="profile-connect">
                <h3 class="right-side">CONTACT</h3>
                <p class="right-side">9791836601</p>

                <br>
                <h3 class="right-side">CONNECT</h3>
                <a href="https://instagram.com/_turbo_._wolf_?igshid=MzNlNGNkZWQ4Mg=="><i class="ri-instagram-fill"></i></a>
                <a href="https://www.facebook.com/callmejb5"><i class="ri-facebook-circle-fill"></i></a>
                 <a href="mailto:yusuffsheriff420@gmail.com"><i class="ri-mail-fill"></i></a>
            </div>
        </div>
    </body>
    </html>

